@import "../../assets/scss/global.scss";

.page_header {
  @include setFlex();
  .page_title{
    font-size: 28px;
    margin-bottom: 10px;
    @include devices("mobile"){
        font-size: 20px;
    }
  }
}
